@import '../../../styles/variables';

.spinner {
    composes: spinner, small from '../../atoms/Spinner.module.scss';
    margin-right: $spacer;
}

.commit {
    margin-left: $spacer / 8;

    code {
        color: $orange1;
        font-size: $font-size-mini;
    }
}

.network {
    color: $orange1;
    text-transform: capitalize;
    margin-left: $spacer / 8;
    font-size: $font-size-mini;
}
